<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if @user.followed_by?(current_user) %>
      <%= form_for(current_user.active_relationships.find_by(follower_id: @user.id),
        html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー済み", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :follower_id, @user.id %></div>
        <%= f.submit "フォローする", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>