<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Insta Clone", "", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "検索フォーム予定"%></li>
        <li><%= link_to "通知", "" %></li>
        <li><%= link_to "マイページ", "" %></li>
        <li><%= link_to "ログイン", "" %></li>
      </ul>
    </nav>
  </div>
</header>